<div class='container mt-5'>
  <div class='row justify-content-center'>
    <div class='col-12 col-md-7'>
      <table
        class='table align-middle table-dark table-striped table-bordered text-center'
      >
        <thead>
          <tr>
            <th scope='col'>Nombre</th>
            <th scope='col'>Precio</th>
            <th scope='col'>URL</th>
          </tr>
        </thead>
        <tbody id='list-Product'>
        </tbody>
      </table>
    </div>
  </div>
</div>